<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'public/users/sideber' %>
    </div>
    <div class="col-9">
    <%= render 'form', posts: @post %>
    </div>
    </div>
  </div>
